<div class="items-statusbar"></div>
<div class="items-lists">
  <div class="items-column items-someday">
    <div class="items-list-heading">
      Someday
    </div>
    <div class="items-list items-someday-list"></div>
  </div>
  <div class="items-column items-backlog">
    <div class="items-list-heading">
      Backlog
    </div>
    <div class="items-list items-backlog-list"></div>
  </div>
  <div class="items-column items-inprogress">
    <div class="items-list-heading">
      In-progress
    </div>
    <div class="items-list items-inprogress-list"></div>
  </div>
  <div class="items-column items-completed">
    <div class="items-list-heading">
      Completed
    </div>
    <div class=" items-list items-completed-list"></div>
  </div>
<!--   <div class="items-column items-accepted">
    <div class="items-list-heading">
      Accepted
    </div>
    <div class=" items-list items-accepted-list"></div>
  </div> -->
</div>