<div class="login">

  <h1 class="login-logo">BO<span class="login-logo-l">L</span>T</h1>

  <div class="control-group">
    <input type="text" name="username" placeholder="Username" class="input login-input login-input-username" autofocus />
  </div>
  <div class="control-group">
    <input type="text" name="password" placeholder="API Key" class="input login-input login-input-password" />
  </div>

  <button type="submit" class="button login-button login-button-start" disabled>Start!</button>
</div>